<!DOCTYPE html>
<html lang="en">
<head>    
    <title>MEAN chat</title>
</head>
<body id="mainPage" >
    <div class="container" >
        <div class="row">
            <div class="jumbotron"  align="center">
                <h1>Have fun!!!</h1>
                <img class="img-rectangle" src="../assets/images/footprint.jpg"><br><br>
                <form #form1 = "ngForm" (ngSubmit) = OnSubmit(form1) style="display: inline-block">
                    <div class="form-group ">                        
                        <input type="text" required class="form-control" name="Cname" #Cname = "ngModel"
                        [(ngModel)] = "chatName" placeholder="Enter your name">
                        <div class="alert alert-danger" *ngIf="Cname.touched && !Cname.valid">
                            <div *ngIf="Cname.errors.required">Chat name is required</div>                                                              
                        </div>
                    </div>
                    <button style="display: inline-block" class="btn btn-danger" type="Submit" [disabled]="!form1.valid">Enter</button>                                  
                </form>     
                <div *ngIf = "userCreated == false">
                    <h2>User name selected is already in use</h2>
                </div>           
            </div>
        </div>
    </div>
    
</body>
</html>