.jumbotron { margin: 0; padding: 0; height: 100%; width: 100%; background-color: lightblue;  }

.panel-body.chatWrap{max-width: 900px; height: 400px; overflow-y: scroll;
    background-color:lightblue; }
textarea {background-color: lightyellow; border: firebrick; border-radius: 0.5em}

#chatPage {background-image: url(../assets/images/footprint.jpg) }
